In [ ]:
Introduction to tuple datatype:

In [ ]:
Overview: An immutable list called a tuple.

In [ ]:
Classification : It is classified as an immutable.

In [ ]:
How to define tuple ...?()

In [1]:
students = ('tarun','ayesha','ranga','kiran','grace')

In [2]:
print(students)

('tarun', 'ayesha', 'ranga', 'kiran', 'grace')

In [3]:
type(students)

tuple

In [ ]:
# req: I want to replace tarun with naveen.

In [4]:
students[0] = 'naveen'

TypeError: 'tuple' object does not support item assignment

In [ ]:
While programming codes we should use tuple when we use ficed datas.

In [6]:
dimension = (250, 50)
print(dimension)

(250, 50)

In [ ]:
# dimension 250, 100

In [7]:
dimension = (250, 100)
print(dimension)

(250, 100)

In [8]:
print(students)

('tarun', 'ayesha', 'ranga', 'kiran', 'grace')

In [ ]:
# Implementing for loops on top of tuple.

In [9]:
for x in students:
    print(x)

tarun
ayesha
ranga
kiran
grace

In [ ]:
Inroduction to dictionary data type:

In [ ]:
   Overview: It is a combination of key value pairs where in every value has associated key mapped to it.
   Classification: It is classified as a mutable data type.

In [ ]:
How to define a dictionary...? ==> {}

In [ ]:
Note:It is very widely used data type across the programming language.Dictionaries are widely used in all the real world objects.

In [ ]:
# req: alien game ==> define the rpoperties of this alien.

In [11]:
alien = {'color':'green','points':5}
print(alien)

{'color': 'green', 'points': 5}

In [12]:
type(alien)

dict

In [ ]:
# How to access the values from the dictionary.?

Note: give the key and get the value...!

In [13]:
# i want to know the points..?

alien['points']

5

In [ ]:
# can we get the value and get the key in the output.?

 Answ: No its not possible. It is an invalid approach.

In [ ]:
# How to add new key value pairs to the dictionary:

# i want to add start_position and current_position.

In [20]:
alien['start_position'] = 0
alien['current_position'] = 2

print(alien)

{'color': 'green', 'points': 5, 'start_position': 0, 'current_position': 2}

In [ ]:
# How to modify the value of  the key in the dictionary.?
  
    # change color from green ==> yellow.

In [22]:
alien['color'] = 'yellow'

print(alien)

{'color': 'yellow', 'points': 5, 'start_position': 0, 'current_position': 2}

In [23]:
# How to delete the key value pair in a dictionary.

del alien['start_position']

In [24]:
print(alien)

{'color': 'yellow', 'points': 5, 'current_position': 2}

In [ ]:
# create a user account in facebook.

In [30]:
useraccount = {'username':'arifbadriya','fname':'Mohammed','lname':'arif','dob':'01-01-2019','pwd':54321}
print(useraccount)

{'username': 'arifbadriya', 'fname': 'Mohammed', 'lname': 'arif', 'dob': '01-01-2019', 'pwd': 54321}